@model System.Collections.Generic.List<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
</head>
<body>
<style>
    .mainDiv {
       
    }
    .moviesHeader {
        font-size: 50px;
        color: black;
        float: inherit;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 25px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1 class="moviesHeader">Movies</h1>
<table >
    <tr >
        <th>Customers</th>
    </tr>
    @foreach (var item in @Model)
    {
    <tr>
        <td>@Html.ActionLink(@item.Name , "Details" ,"Customer", new {id = @item.Id},null)</td>
        @*<td><a href="/customer/Details/@item.Id">@item.Name</a></td>*@
    </tr>
    }
</table>
</body>
</html>